* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #0f3854;
    background: radial-gradient(ellipse at center , #0a2e38 0%, #000000 70%);
    background-size: 100%;
}

p{
    margin: 0;
    padding: 0;
}

.reloj {
    font-family: 'Share Tech Momo' , monospace;
    color: #ffffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 20px rgb(10,175, 
    230,1), 0 0 20px  rgb(10,175, 
    230,1) ;

}

h1 {
    font-family: 'Share Tech Momo' , monospace;
    color: #ffffffff;
    text-shadow: 0 0 20px rgb(10,175, 
    230,1), 0 0 20px  rgb(10,175, 
    230,1) ;
    margin-left: 12em;
    margin-top: 100px;
}
.tiempo {
    letter-spacing: 0.05em;
    font-size:  88px;
    padding: 5px 0;
}

.fecha{
    letter-spacing: 0.1em;
    font-size: 24px;
}

